<!-- Loop over each object in the products array -->
{{#each products as |product| }}
<div class="row mb-4 product">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/product/{{product.id}}">{{product.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount product.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{product.user.name}} on {{format_date product.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{product.description}}
    </p>
  </div>
</div>
{{/each}}
